In [6]:
import pandas as pd
import numpy as np
from probe_lm import data_utils
from probe_lm import plotting_utils
import pickle

### 1. Load country names and iso3 codes from the kaggle/wiki table

We then shorten the list by keeping only those synonyms that will be useful for us.

In [7]:
country_aliases = pd.read_csv('../data/country_aliases.csv')

In [8]:
country_aliases.head()

  iso3                            Alias                     AliasDescription
0  NaN                         Abkhazia                      common, English
1  NaN             Republic of Abkhazia                    official, English
2  NaN             Aphsny Axwynthkharra                     official, Abkhaz
3  NaN             Respublika Abkhaziya                    official, Russian
4  NaN  Autonomous Republic of Abkhazia  Internationally recognized, English

In [9]:
# keepterms = ['English', 'official', 'alternative', 'initialism', 'common']
keep = country_aliases['AliasDescription'].str.contains('English') | (country_aliases['AliasDescription'] == 'official') | (country_aliases['AliasDescription'] == 'alternative') | (country_aliases['AliasDescription'] == 'initialism') | (country_aliases['AliasDescription'] == 'common') 
country_aliases_new = country_aliases[keep]

In [10]:
country_aliases_new = country_aliases_new.drop(index=[0, 1, 4, 5])

In [11]:
exclude = ['archaic', 'former', 'Esperanto', 'geographical']

In [12]:
i = 400
country_aliases_new.iloc[i :i+10, :]

    iso3                             Alias       AliasDescription
906  ZWE                          Zimbabwe                 common
907  ZWE  Rhodesia or Republic of Rhodesia  former names, English
908  ZWE              Republic of Zimbabwe      official, English
909  ZWE                 Southern Rhodesia        former, English

In [13]:
drop = country_aliases['AliasDescription'].str.contains('archaic') | (country_aliases['AliasDescription'].str.contains('former')) | (country_aliases['AliasDescription'].str.contains('Esperanto')) | (country_aliases['AliasDescription'].str.contains('geographical'))

In [14]:
country_aliases_new = country_aliases_new[~ drop]

/var/folders/n9/fv7n0s8d3657l4gc0yjswvhm0000gr/T/ipykernel_88833/3900866360.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  country_aliases_new = country_aliases_new[~ drop]

In [15]:
country_aliases_new.iloc[:-20, :]

,iso3,Alias,AliasDescription
6,AFG,Islamic Republic of Afghanistan,"official, English"
9,ALB,Albania,"common, English"
10,ALB,Republic of Albania,"official, English"
14,DZA,Algeria,"common, English"
15,DZA,People's Democratic Republic of Algeria,"official, English"
...,...,...,...
849,ARE,The Emirates,"colloquial, English"
851,GBR,United Kingdom of Great Britain and Northern I...,"official, English"
852,GBR,Britain,alternative
853,GBR,Great Britain,alternative
854,GBR,UK,initialism

In [16]:
country_aliases_new.loc[874, 'Alias'] = 'U.S.A.'

In [17]:
country_aliases_new.iloc[:325]

    iso3                                    Alias   AliasDescription
6    AFG          Islamic Republic of Afghanistan  official, English
9    ALB                                  Albania    common, English
10   ALB                      Republic of Albania  official, English
14   DZA                                  Algeria    common, English
15   DZA  People's Democratic Republic of Algeria  official, English
..   ...                                      ...                ...
870  USA                                       US         initialism
871  USA                                     U.S.         initialism
872  USA                                      USA         initialism
873  USA                                      Usa         initialism
874  USA                                   U.S.A.         initialism

[325 rows x 3 columns]

### 2. Load ground truth and fill in iso3 codes by matvhing with table

In [18]:
ground_truth_file= "../data/english-speaking-population-data.txt"
ground_truth = data_utils.read_population_data(ground_truth_file)

In [19]:
ground_truth_df = pd.DataFrame(ground_truth.items(), columns=['country names', 'population'])
ground_truth_df[['iso3']] = None

In [20]:
ground_truth_df.head()

       country names  population  iso3
0  the United States   316107532  None
1              India   128539090  None
2           Pakistan   115044691  None
3            Nigeria   103198040  None
4    the Philippines    64025890  None

In [21]:
for i, row1 in ground_truth_df.iterrows():
    for j, row2 in country_aliases_new.iterrows():
        if row2['Alias'] in row1['country names']:
            ground_truth_df.loc[i, 'iso3'] = row2['iso3']

In [22]:
unmatched = ground_truth_df[ground_truth_df['iso3'].isna()]
unmatched_ix = unmatched.index

In [23]:
manual_match = {'Mexico': 'MEX', 'Bahamas': 'BHS', 'the United States':'USA', 'the United Kingdom': 'GBR', 'Kenya':'KEN'}

In [24]:
for i, row1 in ground_truth_df.iterrows():
    country = row1['country names']
    if country in manual_match.keys():
        ground_truth_df.loc[i, 'iso3'] = manual_match[country]

### 3. Propagate alternative name list by matching on iso3

In [25]:
def add_article(word):
    requires_article = ['Republic', 'United', 'Principality', 'US', 'U.S.A.', 'USA', 'Usa', 'U.S.'
                        'Federation', 'Dominion', 'Islands', 'UK', 'U.K.', 'FRG', 'GDR', 'Commonwealth', 
                        'Coast', 'Federation' ,'RF', 'Kingdom', 'Netherlands', 'State', 'Confederation', 
                        'Realm', 'CSR', 'SR', 'SSR', 'RS', 'Grand Duchy of Luxembourg', 'Nation']
    for candidate in requires_article:
        if (candidate in word and not 'the' in word.lower()) or word == 'United Kingdom of Great Britain and Northern Ireland' or word == 'Kingdom of the Netherlands' or word == 'U.S.': 
            article = 'the '
            break
        else:
            article = ''
    return article

In [26]:
ground_truth_df_new = ground_truth_df.__deepcopy__()

for i, row1 in ground_truth_df.iterrows():
    # initialise empty list
    ground_truth_df_new.loc[i, 'country names'] = [ground_truth_df_new.loc[i, 'country names']]
    for j, row2 in country_aliases_new.iterrows():
        if row1['iso3'] == row2['iso3'] and not row2['Alias'] in row1['country names']:
            article = add_article(row2['Alias'])
            ground_truth_df_new.loc[i, 'country names'].append(article + row2['Alias'])

In [27]:
ground_truth_df_new

                                         country names  population  iso3
0    [the United States, the United States of Ameri...   316107532   USA
1                       [India, the Republic of India]   128539090   IND
2    [Pakistan, the Islamic Republic of Pakistan, t...   115044691   PAK
3                                            [Nigeria]   103198040  None
4    [the Philippines, Republic of the Philippines,...    64025890   PHL
..                                                 ...         ...   ...
122  [Andorra, the Principality of Andorra, Princip...       17869   AND
123                                         [Anguilla]       12000  None
124                                            [Nauru]       11600  None
125                                 [the Cook Islands]        4000  None
126                                       [Montserrat]        4000  None

[127 rows x 3 columns]

In [28]:
try:
    ground_truth_df_new.iloc[6]['country names'].remove('GDR') 
except:
    print('already removed!')
try:
    ground_truth_df_new.iloc[6]['country names'].remove('the German Democratic Republic')
except:
    print('already removed!')
try:
    ground_truth_df_new.iloc[100]['country names'].remove('the United States of America')
    ground_truth_df_new.iloc[100]['country names'].remove('America')
    ground_truth_df_new.iloc[100]['country names'].remove('the States')
    ground_truth_df_new.iloc[100]['country names'].remove('the US')
    ground_truth_df_new.iloc[100]['country names'].remove('the USA')
    ground_truth_df_new.iloc[100]['country names'].remove('the Usa')
    ground_truth_df_new.iloc[100]['country names'].remove('the U.S.A.')
except:
    print('already removed!')
try:
    ground_truth_df_new.iloc[111]['country names'].remove('the U.S.')
    ground_truth_df_new.iloc[111]['country names'].remove('the United States of America')
    ground_truth_df_new.iloc[111]['country names'].remove('the States')
    ground_truth_df_new.iloc[111]['country names'].remove('the US')
    ground_truth_df_new.iloc[111]['country names'].remove('the USA')
    ground_truth_df_new.iloc[111]['country names'].remove('the Usa')
    ground_truth_df_new.iloc[111]['country names'].remove('the U.S.A.')
    ground_truth_df_new.iloc[111]['country names'].remove('the U.S.')

except:
    print('already removed!')

already removed!
already removed!

In [29]:
ground_truth_df_new.iloc[111]['country names']

['American Samoa']

In [30]:
for i in range(120, 127):
    print(ground_truth_df_new.iloc[i]['country names'])

['the British Virgin Islands']
['Palau', 'the Republic of Palau']
['Andorra', 'the Principality of Andorra', 'Principality of the Valleys of Andorra']
['Anguilla']
['Nauru']
['the Cook Islands']
['Montserrat']

In [31]:
ground_truth_df_new.drop(columns='iso3',inplace=True)

In [32]:
alternative_names_dict = {}
for i, row in ground_truth_df_new.iterrows():
    alternative_names_dict[row['country names'][0]] = row['country names'][1:]

In [33]:
alternative_names_dict

{'the United States': ['the United States of America',
  'America',
  'the States',
  'the US',
  'the U.S.',
  'the USA',
  'the Usa',
  'the U.S.A.'],
 'India': ['the Republic of India'],
 'Pakistan': ['the Islamic Republic of Pakistan',
  'the Federation of Pakistan',
  'the Dominion of Pakistan'],
 'Nigeria': [],
 'the Philippines': ['Republic of the Philippines', 'the Philippine Islands'],
 'the United Kingdom': ['the United Kingdom of Great Britain and Northern Ireland',
  'Britain',
  'Great Britain',
  'the UK',
  'the U.K.'],
 'Germany': ['the Federal Republic of Germany',
  'the FRG',
  'Former East Germany',
  'the GDR'],
 'Uganda': [],
 'Canada': ['the Dominion of Canada'],
 'Egypt': ['the Arab Republic of Egypt'],
 'France': ['the French Republic'],
 'Australia': ['the Commonwealth of Australia'],
 'Bangladesh': ["the People's Republic of Bangladesh"],
 'Ghana': ['the Gold Coast'],
 'Russia': ['the Russian Federation', 'the RF'],
 'Thailand': ['the Kingdom of Thailand'],
 'Italy': [],
 'South Africa': [],
 'Mexico': ['the United Mexican States', 'MEX', 'MX'],
 'Malaysia': ['the Federation of Malaysia'],
 'Netherlands': ['the Kingdom of the Netherlands', 'Holland'],
 'Poland': ['the Republic of Poland',
  'the Polish–Lithuanian Commonwealth',
  'United Commonwealth of the Two Nations',
  'Lechia'],
 'Sri Lanka': ['the Democratic Socialist Republic of Sri Lanka'],
 'Turkey': ['the Republic of Turkey'],
 'Zimbabwe': ['the Republic of Zimbabwe'],
 'Iraq': [],
 'Brazil': ['the Federative Republic of Brazil'],
 'Spain': ['the Kingdom of Spain'],
 'China': ["the People's Republic of China"],
 'Sweden': ['the Kingdom of Sweden'],
 'Kenya': ['the Republic of Kenya'],
 'Cameroon': ['the Republic of Cameroon'],
 'Ukraine': ['UA', 'the UKR'],
 'Belgium': ['the Kingdom of Belgium'],
 'Israel': ['the State of Israel'],
 'Austria': ['the Republic of Austria'],
 'Romania': ['the Kingdom of Romania'],
 'Greece': ['the Hellenic Republic'],
 'Sierra Leone': [],
 'Denmark': ['the Kingdom of Denmark'],
 'Switzerland': ['the Swiss Confederation', 'CH'],
 'Morocco': ['the Kingdom of Morocco', 'Maghreb'],
 'Norway': ['the Kingdom of Norway'],
 'Ireland': ['the Republic of Ireland'],
 'New Zealand': ['the Realm of New Zealand'],
 'Madagascar': ['the Republic of Madagascar'],
 'Tanzania': ['the United Republic of Tanzania'],
 'Finland': ['the Republic of Finland'],
 'Cambodia': ['the Kingdom of Cambodia'],
 'Papua New Guinea': ['The Republic of Guinea'],
 'Hong Kong': [],
 'Liberia': [],
 'Jordan': ['the Hashemite Kingdom of Jordan'],
 'Portugal': ['the Portuguese Republic', 'Portingall', 'Portingal'],
 'Czechia': ['the Czech Republic',
  'CR',
  'Czechland',
  'the Czechlands',
  'the CSR'],
 'Japan': [],
 'Argentina': ['the Argentine Republic',
  'the Argentine Nation',
  'United Provinces of the Río de la Plata',
  'the Argentine Confederation'],
 'Jamaica': [],
 'Croatia': ['the Republic of Croatia'],
 'Algeria': ["the People's Democratic Republic of Algeria"],
 'Myanmar': ['Republic of the Union of Myanmar'],
 'Yemen': [],
 'Colombia': ['the Republic of Colombia'],
 'Hungary': [],
 'Puerto Rico': ['the Commonwealth of Puerto Rico',
  'the Associated Free State of Puerto Rico'],
 'Zambia': ['the Republic of Zambia'],
 'Bulgaria': ['the Republic of Bulgaria'],
 'Kazakhstan': ['the Republic of Kazakhstan', 'the Republic of Kazakhstan'],
 'Lebanon': ['The Lebanese Republic'],
 'Chile': ['the Republic of Chile'],
 'Rwanda': ['the Rwandese Republic'],
 'Slovakia': ['the Slovak Republic', 'the SR', 'the SSR'],
 'Slovenia': ['the Republic of Slovenia', 'the RS'],
 'Trinidad and Tobago': ['the Republic of Trinidad and Tobago', 'Trinbago'],
 'Lithuania': [],
 'Latvia': [],
 'Nepal': ['the Federal Democratic Republic Of Nepal'],
 'Uruguay': [],
 'Guyana': [],
 'Estonia': [],
 'Botswana': ['the Republic of Botswana'],
 'Cyprus': [],
 'Panama': [],
 'Eswatini': ['the Kingdom of Eswatini'],
 'Malawi': ['the Republic of Malawi'],
 'Lesotho': ['the Kingdom of Lesotho'],
 'Suriname': ['the Republic of Suriname'],
 'Malta': [],
 'Namibia': [],
 'Luxembourg': ['the Grand Duchy of Luxembourg'],
 'Bahamas': ['The Bahamas',
  'Commonwealth of The Bahamas',
  'the Bahama Islands'],
 'Belize': [],
 'Costa Rica': ['the Republic of Costa Rica'],
 'Mauritius': [],
 'Vanuatu': [],
 'Fiji': [],
 'Solomon Islands': [],
 'Guam': [],
 'Brunei': ['Nation of Brunei, the Abode of Peace', 'the State of Brunei'],
 'Saint Vincent and the Grenadines': [],
 'the U.S. Virgin Islands': [],
 'Grenada': [],
 'Samoa': [],
 'the Isle of Man': [],
 'Saint Lucia': [],
 'the Northern Mariana Islands': [],
 'Antigua and Barbuda': [],
 'the Federated States of Micronesia': [],
 'Bermuda': [],
 'Dominica': [],
 'Marshall Islands': [],
 'American Samoa': [],
 'Aruba': [],
 'The Gambia': [],
 'Saint Kitts and Nevis': ['the Federation of Saint Kitts and Nevis',
  'the Federation of Saint Christopher and Nevis',
  'Saint Christopher and Nevis',
  'Saint Kitts or Saint Christopher'],
 'Cayman Islands': [],
 'Seychelles': [],
 'Tonga': [],
 'Gibraltar': [],
 'Kiribati': [],
 'the British Virgin Islands': [],
 'Palau': ['the Republic of Palau'],
 'Andorra': ['the Principality of Andorra',
  'Principality of the Valleys of Andorra'],
 'Anguilla': [],
 'Nauru': [],
 'the Cook Islands': [],
 'Montserrat': []}

In [148]:
with open('../data/country_synonyms.p', 'wb') as handle:
    pickle.dump(alternative_names_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [1]:
%load_ext autoreload
%autoreload 2

from probe_lm import get_aggregated_likelihoods
from probe_lm.data_utils import read_population_data
from numpy import testing
from transformers import GPT2Tokenizer
from transformers import GPT2LMHeadModel
import probe_lm
from probe_lm import data_utils, compute_population_probs
from tqdm import tqdm

In [34]:
gpt2_model = GPT2LMHeadModel.from_pretrained("gpt2")
gpt2_tokenizer = GPT2Tokenizer.from_pretrained("gpt2")
prompt = 'I live in'

population_data, synonym_dict = read_population_data(filename="../data/english-speaking-population-data.txt", return_synonym_dict=True, synonym_dict_path='../data/country_synonyms.p')

predictions = compute_population_probs(gpt2_model, gpt2_tokenizer, prompt, population_data)

# when there are no synonyns nothing should change through this
dummy_synonyms_dict = {country: [] for country in population_data.keys()}
predictions_disambiguated = compute_population_probs(gpt2_model, gpt2_tokenizer, prompt, population_data, synonym_dict=synonym_dict)

100%|██████████| 127/127 [00:06<00:00, 20.75it/s]
100%|██████████| 251/251 [00:20<00:00, 12.05it/s]

AssertionError:

In [40]:
assert (np.array([*predictions_disambiguated.values()]) >= np.array([*predictions.values()])).all()

In [35]:
predictions_disambiguated

{'the United States': 0.009669359615675957,
 'India': 0.0017266347763369991,
 'Pakistan': 0.0006112819298197305,
 'Nigeria': 0.0002793741589962357,
 'the Philippines': 0.00037076029226258277,
 'the United Kingdom': 0.0020306195341048424,
 'Germany': 0.0022493334212433185,
 'Uganda': 0.0001534984179904594,
 'Canada': 0.005756016694246861,
 'Egypt': 0.00024447195556501076,
 'France': 0.002898739036330509,
 'Australia': 0.002847974747801562,
 'Bangladesh': 0.0001512151862773792,
 'Ghana': 0.00015000855738998224,
 'Russia': 0.0007050073398280817,
 'Thailand': 0.0005335020412936055,
 'Italy': 0.0009410956229972008,
 'South Africa': 0.0008327632376641836,
 'Mexico': 0.001243778263396684,
 'Malaysia': 8.349579978406532e-05,
 'Netherlands': 0.0003066289678144462,
 'Poland': 0.0006925579031625839,
 'Sri Lanka': 4.275190805909585e-05,
 'Turkey': 0.0004469416145755299,
 'Zimbabwe': 7.326093982771543e-05,
 'Iraq': 0.00023130205191145556,
 'Brazil': 0.0005863760358695959,
 'Spain': 0.0006051659719205058,
 'China': 0.0015530882320412501,
 'Sweden': 0.0012483113222497867,
 'Kenya': 0.00043183584574162245,
 'Cameroon': 6.317683118051815e-05,
 'Ukraine': 0.00023320820056698283,
 'Belgium': 0.0003138685209349861,
 'Israel': 0.0018042695637937847,
 'Austria': 0.0004336011736827056,
 'Romania': 0.00026491370435817083,
 'Greece': 0.0005809560786947948,
 'Sierra Leone': 5.2403866063863135e-05,
 'Denmark': 0.0010076569124952471,
 'Switzerland': 0.0007925097324229243,
 'Morocco': 0.00013086744140050204,
 'Norway': 0.0004644354102439694,
 'Ireland': 0.0015148286583177503,
 'New Zealand': 0.0007508007425066593,
 'Madagascar': 2.6056463594899417e-05,
 'Tanzania': 0.00015430219945202801,
 'Finland': 0.00028036780433728304,
 'Cambodia': 0.00012722393910486712,
 'Papua New Guinea': 4.6668498000330245e-05,
 'Hong Kong': 0.00038737725273438214,
 'Liberia': 4.986825039497172e-05,
 'Jordan': 0.00026051068284978354,
 'Portugal': 0.0002052265445517996,
 'Czechia': 4.693528507953857e-05,
 'Japan': 0.0016215579332634125,
 'Argentina': 0.00027320424437467987,
 'Jamaica': 0.0003659187334613626,
 'Croatia': 0.00030880992515144114,
 'Algeria': 2.1064860846218467e-05,
 'Myanmar': 7.346078924780659e-05,
 'Yemen': 8.779503569546958e-05,
 'Colombia': 0.00023583939789084042,
 'Hungary': 0.0002594831548437348,
 'Puerto Rico': 0.00026108443395585586,
 'Zambia': 2.132147195876081e-05,
 'Bulgaria': 0.00017475343053075136,
 'Kazakhstan': 6.873615345254912e-05,
 'Lebanon': 0.000339358130007192,
 'Chile': 0.00018307544128867476,
 'Rwanda': 5.3888362229548355e-05,
 'Slovakia': 0.00010376237426751169,
 'Slovenia': 0.00017241563193897655,
 'Trinidad and Tobago': 3.834301205192946e-05,
 'Lithuania': 0.00015687499749629695,
 'Latvia': 0.00010552277136560554,
 'Nepal': 0.00014239890044540114,
 'Uruguay': 8.223327386487453e-05,
 'Guyana': 4.038977808813956e-05,
 'Estonia': 0.00011501149945595374,
 'Botswana': 4.983702125574595e-05,
 'Cyprus': 9.096631489081867e-05,
 'Panama': 0.0001530318595862785,
 'Eswatini': 1.6191466947858122e-12,
 'Malawi': 3.6630253919829736e-05,
 'Lesotho': 2.2837668080431524e-06,
 'Suriname': 5.926895445647521e-06,
 'Malta': 5.5080908932243606e-05,
 'Namibia': 5.758826334126756e-05,
 'Luxembourg': 4.5187389691260665e-05,
 'Bahamas': 9.821772259704035e-06,
 'Belize': 4.722890154668606e-05,
 'Costa Rica': 0.0001680225167150511,
 'Mauritius': 3.234192540635286e-06,
 'Vanuatu': 1.9703018090636273e-05,
 'Fiji': 3.334917906214345e-05,
 'Solomon Islands': 1.4107665162483994e-06,
 'Guam': 5.2729267843524266e-05,
 'Brunei': 1.8166311710824983e-05,
 'Saint Vincent and the Grenadines': 8.158429837079449e-07,
 'the U.S. Virgin Islands': 2.2469268652139787e-06,
 'Grenada': 2.060275419042028e-05,
 'Samoa': 1.305902871978773e-05,
 'the Isle of Man': 1.2007965328107593e-06,
 'Saint Lucia': 1.5027517030434594e-06,
 'the Northern Mariana Islands': 6.698364225585905e-07,
 'Antigua and Barbuda': 8.247202275209344e-07,
 'the Federated States of Micronesia': 2.7098600643401014e-07,
 'Bermuda': 3.059895801324578e-05,
 'Dominica': 1.2487183945257044e-05,
 'Marshall Islands': 9.007412873652174e-07,
 'American Samoa': 1.1377888929318128e-05,
 'Aruba': 2.5307284043407715e-05,
 'The Gambia': 6.339761259238401e-07,
 'Saint Kitts and Nevis': 2.1786293865352103e-06,
 'Cayman Islands': 5.943265890951703e-06,
 'Seychelles': 2.78035076419462e-06,
 'Tonga': 1.253945317094292e-05,
 'Gibraltar': 2.2349302647563405e-05,
 'Kiribati': 5.6728835689955475e-06,
 'the British Virgin Islands': 2.7495184304180915e-06,
 'Palau': 2.6630842614810892e-06,
 'Andorra': 4.060880838376908e-06,
 'Anguilla': 2.3637747649552288e-06,
 'Nauru': 1.0419491998292218e-05,
 'the Cook Islands': 6.331097124216232e-07,
 'Montserrat': 5.620159977188151e-06}

In [4]:
predictions

{'the United States': 0.002329109645529914,
 'India': 0.0017265477344167,
 'Pakistan': 0.0006112716485496883,
 'Nigeria': 0.0002793741589962357,
 'the Philippines': 0.00037059945390708894,
 'the United Kingdom': 0.0001415507714281924,
 'Germany': 0.0022489926527092673,
 'Uganda': 0.0001534984179904594,
 'Canada': 0.005755988014946759,
 'Egypt': 0.000244471462892844,
 'France': 0.00289840264804514,
 'Australia': 0.00284666112876884,
 'Bangladesh': 0.00015121206290489127,
 'Ghana': 0.00013454415971797377,
 'Russia': 0.0007024162220219028,
 'Thailand': 0.0005334901928809319,
 'Italy': 0.0009410956229972008,
 'South Africa': 0.0008327632376641836,
 'Mexico': 0.0012422580980241446,
 'Malaysia': 8.349576504766157e-05,
 'Netherlands': 2.966499486299454e-05,
 'Poland': 0.0006923867788828625,
 'Sri Lanka': 4.27519076270264e-05,
 'Turkey': 0.0004468236852482321,
 'Zimbabwe': 7.321906850335309e-05,
 'Iraq': 0.00023130205191145556,
 'Brazil': 0.0005863760203920109,
 'Spain': 0.0006051419307729444,
 'China': 0.0015474666676204274,
 'Sweden': 0.0012482243608116109,
 'Kenya': 0.00043182262200664557,
 'Cameroon': 6.31698481794743e-05,
 'Ukraine': 0.00023207273986511562,
 'Belgium': 0.0003138620717376,
 'Israel': 0.0018041820749683227,
 'Austria': 0.0004335788818027027,
 'Romania': 0.00026490802878840385,
 'Greece': 0.000580921274990922,
 'Sierra Leone': 5.2403866063863135e-05,
 'Denmark': 0.0010076166741807187,
 'Switzerland': 0.0007606121809835329,
 'Morocco': 0.00012905366771712002,
 'Norway': 0.0004644211080768857,
 'Ireland': 0.0015104552825363719,
 'New Zealand': 0.0007508007383945416,
 'Madagascar': 2.6012821542382677e-05,
 'Tanzania': 0.00015429565809622523,
 'Finland': 0.0002803135753928356,
 'Cambodia': 0.00012722165260595604,
 'Papua New Guinea': 4.6668252537671155e-05,
 'Hong Kong': 0.00038737725273438214,
 'Liberia': 4.986825039497172e-05,
 'Jordan': 0.00026051066815601753,
 'Portugal': 0.00020520856857435675,
 'Czechia': 8.108392006377324e-07,
 'Japan': 0.0016215579332634125,
 'Argentina': 0.00027316493186010433,
 'Jamaica': 0.0003659187334613626,
 'Croatia': 0.0003087109711385478,
 'Algeria': 2.1064860569479813e-05,
 'Myanmar': 7.346078924151352e-05,
 'Yemen': 8.779503569546958e-05,
 'Colombia': 0.00023564284141838545,
 'Hungary': 0.0002594831548437348,
 'Puerto Rico': 0.0002610189795527904,
 'Zambia': 2.1306175544995087e-05,
 'Bulgaria': 0.00017470121337232332,
 'Kazakhstan': 6.857911561281053e-05,
 'Lebanon': 0.0003393580481502102,
 'Chile': 0.00018301826409168086,
 'Rwanda': 5.388835696780215e-05,
 'Slovakia': 0.00010315071552650572,
 'Slovenia': 0.00017195073682026906,
 'Trinidad and Tobago': 3.833890241986064e-05,
 'Lithuania': 0.00015687499749629695,
 'Latvia': 0.00010552277136560554,
 'Nepal': 0.00014239890044082245,
 'Uruguay': 8.223327386487453e-05,
 'Guyana': 4.038977808813956e-05,
 'Estonia': 0.00011501149945595374,
 'Botswana': 4.983259459579493e-05,
 'Cyprus': 9.096631489081867e-05,
 'Panama': 0.0001530318595862785,
 'Eswatini': 1.6191367805618866e-12,
 'Malawi': 3.662844476387906e-05,
 'Lesotho': 2.2836977181539205e-06,
 'Suriname': 5.924817099740694e-06,
 'Malta': 5.5080908932243606e-05,
 'Namibia': 5.758826334126756e-05,
 'Luxembourg': 4.51840475272717e-05,
 'Bahamas': 5.71412777060017e-06,
 'Belize': 4.722890154668606e-05,
 'Costa Rica': 0.0001679799972875817,
 'Mauritius': 3.234192540635286e-06,
 'Vanuatu': 1.9703018090636273e-05,
 'Fiji': 3.334917906214345e-05,
 'Solomon Islands': 1.4107665162483994e-06,
 'Guam': 5.2729267843524266e-05,
 'Brunei': 1.8166215857597274e-05,
 'Saint Vincent and the Grenadines': 8.158429837079449e-07,
 'the U.S. Virgin Islands': 2.2469268652139787e-06,
 'Grenada': 2.060275419042028e-05,
 'Samoa': 1.305902871978773e-05,
 'the Isle of Man': 1.2007965328107593e-06,
 'Saint Lucia': 1.5027517030434594e-06,
 'the Northern Mariana Islands': 6.698364225585905e-07,
 'Antigua and Barbuda': 8.247202275209344e-07,
 'the Federated States of Micronesia': 2.7098600643401014e-07,
 'Bermuda': 3.059895801324578e-05,
 'Dominica': 1.2487183945257044e-05,
 'Marshall Islands': 9.007412873652174e-07,
 'American Samoa': 1.1377888929318128e-05,
 'Aruba': 2.5307284043407715e-05,
 'The Gambia': 6.339761259238401e-07,
 'Saint Kitts and Nevis': 2.178629192698861e-06,
 'Cayman Islands': 5.943265890951703e-06,
 'Seychelles': 2.78035076419462e-06,
 'Tonga': 1.253945317094292e-05,
 'Gibraltar': 2.2349302647563405e-05,
 'Kiribati': 5.6728835689955475e-06,
 'the British Virgin Islands': 2.7495184304180915e-06,
 'Palau': 2.6567536598423495e-06,
 'Andorra': 4.060878869770528e-06,
 'Anguilla': 2.3637747649552288e-06,
 'Nauru': 1.0419491998292218e-05,
 'the Cook Islands': 6.331097124216232e-07,
 'Montserrat': 5.620159977188151e-06}